# Django settings
SECRET_KEY = yoursecretkey 
DEBUG = True
#note- 'True' means it's in development, 'False' means it's in production

ALLOWED_HOSTS = yourhostname

# Database configuration(MySQL)
DATABASE_URL = mysql://username:password@host:port/databasename

# Email configuration(Gmail)
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = 'your_email@gmail.com'
EMAIL_HOST_PASSWORD = 'your_password_or_app_password'
