{% extends "base.html" %}

<!--Page title-->
{% block title %} Forgot Password {% endblock title %}

<!--body without navbar and footer-->
{% block main %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="px-3 w-100" style="max-width: 576px">
        <div class="shadow-sm rounded-3 bg-white border border-2 p-2 p-md-3">
            <h1 class="text-center my-4 fs-2 fw-bold text-primary text-head">Forgot Password</h1>
            <form method="POST" id="form" class="px-2 py-3">
                {% csrf_token %}
                <!--email input-->
                <div class="mb-3 mb-md-4">
                 <label for="email" class="form-label fw-semibold">Email</label>
                 <input type="email" class="form-control" id="email" name="email" required/>
                </div>

                <div class="text-danger mb-2 fw-semibold text-center" id="msg">{{msg}}</div>

                <div class="text-center pt-3">
                    <button type="submit" id="submit" class="btn btn-warning w-100 fs-5 text-head">Send Mail</button>
                </div>
            </form>
            <div class="text-center mb-3">
                <a href="{% url 'login' %}" class="fw-semibold no-line">Back to login page</a>
            </div>
        </div>
    </div>
</div>

{% endblock main %}