{% extends "base.html" %}

<!--Page title-->
{% block title %} Reset Password {% endblock title %}

<!--body without navbar and footer-->
{% block main %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="px-3 w-100" style="max-width: 576px">
        <div class="shadow rounded-3 border bg-white px-3 py-4">
            <h1 class="text-center text-primary mb-4 fw-bold">Reset Password</h1>
            <form method="POST">
                {% csrf_token %}

                <!-- verification code input-->
                <div class="mb-3 mb-md-4">
                    <label for="verifycode" class="form-label fw-semibold">Enter Verification Code</label>
                    <input type="number" class="form-control" id="verifycode" name="verifycode" />
                </div>

                <!--password input-->
                <div class="mb-2">
                    <label for="password" class="form-label fw-semibold">New Password</label>
                    <input type="password" class="form-control" id="password" name="password" />
                </div>

                <!--show password-->
                <div class="form-check mb-3 mb-md-4 d-flex justify-content-end">
                    <input class="form-check-input me-1" type="checkbox" id="showpass">
                    <label class="form-check-label" for="showpass">show password</label>
                </div>

                <!--Confirm password input-->
                <div class="mb-2">
                    <label for="cpassword" class="form-label fw-semibold">Confirm Password</label>
                    <input type="password" class="form-control" id="cpassword" name="cpassword" />
                </div>

                <!--show password-->
                <div class="form-check mb-3 mb-md-4 d-flex justify-content-end">
                    <input class="form-check-input me-1" type="checkbox" id="showcpass">
                    <label class="form-check-label" for="showcpass">show password</label>
                </div>

                <div class="text-danger mb-2 fw-semibold text-center">{{msg}}</div>

                <div class="text-center pt-3">
                    <button type="submit" class="btn btn-success w-100 text-head fs-5">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--script-->
<script>

    //show password
    document.getElementById('showpass').addEventListener('change', function () {
        const passwordField = document.getElementById('password');
        passwordField.type = this.checked ? 'text' : 'password';
    });

    //show confirm password
    document.getElementById('showcpass').addEventListener('change', function () {
        const cpasswordField = document.getElementById('cpassword');
        cpasswordField.type = this.checked ? 'text' : 'password';
    });
</script>
<!--script end-->

{% endblock main %}