{% extends "base.html" %}

<!--Page title-->
{% block title %} RentHome {% endblock title %}

{% block body %}

<div class="hero-section">
    <h1 class="text-head">Find Your Perfect Rental Home</h1>
    <p class="fs-5">Discover your next home or manage your rental properties effortlessly with RentSahay.</p>
    <div class="button-group fs-5">
        <a href="#" class="btn btn-success">Start Searching</a>
        <a href="#" class="btn btn-primary">List Your Property</a>
    </div>
</div>

{% endblock body %}