<footer class="bg-dark text-white text-center py-4 mt-0 text-head">
    <p class="text-center mb-1 fs-5">Developed by <a class="no-line fw-semibold text-white" href="#">Rahulkumar Gupta</a></p>
    <div>
        <a href="https://www.linkedin.com/in/grahulkumar/">
            <img src="https://img.icons8.com/ios-filled/40/000000/linkedin.png"/>
          </a>
        <a href="https://github.com/grahulkumar">
            <img src="https://img.icons8.com/ios-filled/40/000000/github.png"/>
        </a>
    </div>
    <p class="text-center mt-4 fs-5">&copy; 2024 RentHome. All rights reserved.</p>
</footer>
